export( "censReg" )

import( "maxLik" )

importFrom( "glmmML", "ghq" )
importFrom( "miscTools", "margEff" )
importFrom( "miscTools", "nObs" )
importFrom( "plm", "plm" )
importFrom( "sandwich", "estfun" )
importFrom( "stats", "AIC" )
importFrom( "stats", "as.formula" )
importFrom( "stats", "coef" )
importFrom( "stats", "df.residual" )
importFrom( "stats", "dnorm" )
importFrom( "stats", "formula" )
importFrom( "stats", "lm.fit" )
importFrom( "stats", "logLik" )
importFrom( "stats", "model.frame" )
importFrom( "stats", "model.matrix" )
importFrom( "stats", "model.response" )
importFrom( "stats", "na.pass" )
importFrom( "stats", "nobs" )
importFrom( "stats", "pnorm" )
importFrom( "stats", "printCoefmat" )
importFrom( "stats", "pt" )
importFrom( "stats", "terms" )
importFrom( "stats", "vcov" )

S3method( "coef", "censReg" )
S3method( "estfun", "censReg" )
S3method( "extractAIC", "censReg" )
S3method( "formula", "censReg" )
S3method( "logLik", "censReg" )
S3method( "model.frame", "censReg" )
S3method( "nobs", "censReg" )
S3method( "print", "censReg" )
S3method( "summary", "censReg" )
S3method( "vcov", "censReg" )

S3method( "summary", "margEff.censReg" )
S3method( "print", "margEff.censReg" )

S3method( "coef", "summary.censReg" )
S3method( "margEff", "censReg" )
S3method( "print", "summary.censReg" )

S3method( "print", "summary.margEff.censReg" )
